body {
    background-color: #37200a;
    padding: 0;
    margin: 0;
    font-family: inconsolata, monospace;
}

input {
  background-color: #402a16;
  color: white;
  border: none;
  font-family: inconsolata, monospace;
}

input:focus-visible {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.2; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: 0.2;
}

textarea {
  background-color: #402a16;
  resize: none;
  color: white;
  border: none;
  font-family: inconsolata, monospace;
}

textarea:focus-visible {
  outline: none;
}
